/* ================================
  Genrales 
================================ */
body{
  font-family: 'Poppins', sans-serif;
  background: #FEF9F5;
  color: #111827;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section{
  scroll-margin-top: 110px; /* altura navbar + aire */
}

/* ================================
   NAVBAR
================================ */
navbar{
  z-index: 1000;
}
.bg-white {
  --bs-bg-opacity: 1;
  background: #FEF9F5;
}
/* Links */
.nav-link-heidy{
  color: #2b2b2b;
  font-weight: 500;
  padding: .25rem 0;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
}

/* Línea inferior (oculta) */
.nav-link-heidy::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  border-radius: 999px;
  background: #f1c37a;
  transition: width 0.3s ease;
}

.nav-link-heidy:hover::after{
  width: 100%;
}

/* Activo */
.nav-link-heidy.active{
  font-weight: 100%;
}

.nav-link-heidy.active::after{
  width: 100%;
}

/* Botón Contactame */
.btn-contactame{
  background: #f3c77a;
  color: #2b2b2b;
  font-weight: 600;
  border-radius: 10px 0px 10px 10px;
  padding: .55rem 1.25rem;
  border: none;
  transition: all 0.3s ease;
}
.btn-contactame:hover{
  background: #ffc261;
  transform: translateY(-2px);
}

/* ================================
  HERO
================================ */
.hero-section{
  padding: 50px 0 40px;
}

/* Mini título */
.hero-kicker{
  color:#6b7280;
  font-weight:600;
  letter-spacing: .5px;
}

/* Título */
.hero-title{
  font-size: clamp(2.2rem, 4vw, 3.2rem);
  line-height: 1.05;
  color:#111827;
  font-weight: 700;
}

.hero-title-strong{
  color:#71B8F0;
}

/* Subtítulo */
.hero-subtitle{
  color:#4b5563;
  font-size: 1.05rem;
  line-height: 1.6;
  max-width: 520px;
}

/* Botones Hero */
.btn-hero-primary{
  background:#f3c77a;
  color:#2b2b2b;
  font-weight:700;
  border-radius:10px;
  padding: .8rem 1.4rem;
  border:none;
  transition: all .25s ease;
}

.btn-hero-primary:hover{
  background:#f5bd5c;
  transform: translateY(-2px);
}

.btn-hero-secondary{
  background:#FEF9F5;
  color:#2b2b2b;
  font-weight:700;
  border-radius:10px;
  padding: .8rem 1.4rem;
  border:3px solid #2b2b2b;
  transition: all .25s ease;
}

.btn-hero-secondary:hover{
  background:#FEF9F5;
  color:#2b2b2b;
  border:3px solid #2b2b2b;
  transform: translateY(-2px);
}

/* Redes */
.hero-social{
  display:flex;
  gap:12px;
}

.hero-social-btn{
  width:42px;
  height:42px;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
  color:#111827;
  font-weight:700;
  transition: all .25s ease;
}

.hero-social-btn i{
  font-size:1.6rem;
}

.hero-social-btn:hover{
  transform: translateY(-2px);
  border-color:#cfd6de;
}

.hero-social-btn:hover i{
  color:#71B8F0;
}

.hero-illustration{
  position: relative;
  z-index: 1;
  width: 100%;
  display:block;
  border-radius: 22px;
}
/* ================================
   ABOUT SECTION
================================ */

/* Título general */
.section-title{
  font-size: 1.8rem;
  font-weight: 700;
  color: #404256;
}

/* Subtítulo */
.about-title{
  font-size: 1.5rem;
  font-weight: 600;
  color: #505062;
}

.about-title span{
  color: #71B8F0;
}

/* Texto */
.about-text{
  color: #6B6F85;
  line-height: 1.7;
  font-size: 1rem;
  max-width: 700px;
}

/* Imagen */
.about-img{
  width: 90%;
  padding: 14px;
}

/* Redes */
.about-social{
  display: flex;
  gap: 14px;
  margin-top: 10px;
}

.about-social-btn{
  width: 42px;
  height: 42px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #E0E2F0;
  color: #404256;
  transition: all .25s ease;
  text-decoration: none;
  font-size: 1.1rem;
}

.about-social-btn:hover{
  border-color: #71B8F0;
  color: #71B8F0;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(113,184,240,0.25);
}


/* ================================
   RESPONSIVE
================================ */

@media (max-width: 992px){

  .hero-section{
    padding: 40px 0;
    text-align:center;
  }

  .hero-subtitle{
    margin: auto;
  }

  .hero-cta{
    justify-content:center;
  }

  .hero-social{
    justify-content:center;
  }

  .nav-link-heidy::after{
    bottom:-6px;
  }
}

@media (max-width: 576px){

  .hero-title{
    font-size:2rem;
  }

  .btn-hero-primary,
  .btn-hero-secondary{
    width:100%;
  }

}