/* ================================
  Genrales 
================================ */
body{
  font-family: 'Poppins', sans-serif;
  background: #FEF9F5;
  color: #111827;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section{
  scroll-margin-top: 110px; /* altura navbar + aire */
}

/* ================================
   NAVBAR
================================ */
navbar{
  z-index: 1000;
}
.bg-white {
  --bs-bg-opacity: 1;
  background: #FEF9F5;
}
/* Links */
.nav-link-heidy{
  color: #2b2b2b;
  font-weight: 500;
  padding: .25rem 0;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
}

/* Línea inferior (oculta) */
.nav-link-heidy::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  border-radius: 999px;
  background: #f1c37a;
  transition: width 0.3s ease;
}

.nav-link-heidy:hover::after{
  width: 100%;
}

/* Activo */
.nav-link-heidy.active{
  font-weight: 100%;
}

.nav-link-heidy.active::after{
  width: 100%;
}

/* Botón Contactame */
.btn-contactame{
  background: #f3c77a;
  color: #2b2b2b;
  font-weight: 600;
  border-radius: 10px 0px 10px 10px;
  padding: .55rem 1.25rem;
  border: none;
  transition: all 0.3s ease;
}
.btn-contactame:hover{
  background: #ffc261;
  transform: translateY(-2px);
}

/* ================================
  HERO
================================ */
.hero-section{
  padding: 50px 0 40px;
}

/* Mini título */
.hero-kicker{
  color:#6b7280;
  font-weight:600;
  letter-spacing: .5px;
}

/* Título */
.hero-title{
  font-size: clamp(2.2rem, 4vw, 3.2rem);
  line-height: 1.05;
  color:#111827;
  font-weight: 700;
}

.hero-title-strong{
  color:#71B8F0;
}

/* Subtítulo */
.hero-subtitle{
  color:#4b5563;
  font-size: 1.05rem;
  line-height: 1.6;
  max-width: 520px;
}

/* Botones Hero */
.btn-hero-primary{
  background:#f3c77a;
  color:#2b2b2b;
  font-weight:700;
  border-radius:10px;
  padding: .8rem 1.4rem;
  border:none;
  transition: all .25s ease;
}

.btn-hero-primary:hover{
  background:#f5bd5c;
  transform: translateY(-2px);
}

.btn-hero-secondary{
  background:#FEF9F5;
  color:#2b2b2b;
  font-weight:700;
  border-radius:10px;
  padding: .8rem 1.4rem;
  border:3px solid #2b2b2b;
  transition: all .25s ease;
}

.btn-hero-secondary:hover{
  background:#FEF9F5;
  color:#2b2b2b;
  border:3px solid #2b2b2b;
  transform: translateY(-2px);
}

/* Redes */
.hero-social{
  display:flex;
  gap:12px;
}

.hero-social-btn{
  width:42px;
  height:42px;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
  color:#111827;
  font-weight:700;
  transition: all .25s ease;
}

.hero-social-btn i{
  font-size:1.6rem;
}

.hero-social-btn:hover{
  transform: translateY(-2px);
  border-color:#cfd6de;
}

.hero-social-btn:hover i{
  color:#71B8F0;
}

.hero-illustration{
  position: relative;
  z-index: 1;
  width: 100%;
  display:block;
  border-radius: 22px;
}
/* ================================
   ABOUT SECTION
================================ */
section#sobremi {
  background: #ffffff;
}
/* Título general */
.section-title{
  font-size: 1.8rem;
  font-weight: 700;
  color: #404256;
}

/* Subtítulo */
.about-title{
  font-size: 1.5rem;
  font-weight: 600;
  color: #505062;
}

.about-title span{
  color: #71B8F0;
}

/* Texto */
.about-text{
  color: #6B6F85;
  line-height: 1.7;
  font-size: 1rem;
  max-width: 700px;
}

/* Imagen */
.about-img{
  width: 90%;
  padding: 14px;
}

/* Redes */
.about-social{
  display: flex;
  gap: 14px;
  margin-top: 10px;
}

/* ================================
  Herramientas xd
================================ */
.tools-section{
  padding: 80px 0;
  background: #FEF9F5;
}

.tools-subtitle{
  color:#6B6F85;
  max-width: 680px;
  margin: 0 auto 28px;
  font-weight: 300;
}

/* Grid responsive */
.tools-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.tool-card{
  border-radius: 10px;
  padding: 20px 5px;
  text-align: center;
  transition: all .22s ease;
}

.tool-card:hover{
  transform: translateY(-6px);
}

/* Icon container */
.tool-icon-wrap{
  width: 60px;
  height: 60px;
  border-radius: 18px;
  margin: 0 auto 12px;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* Icon */
.tool-icon{
  width: 45px;
  height: 45px;
  object-fit: contain;
}

/* Name */
.tool-name{
  margin: 0;
  font-size: 1rem;
  font-weight: 800;
  color:#404256;
}

/* Use */
.tool-use{
  margin: 4px 0 0;
  color:#6B6F85;
  font-weight: 600;
  font-size: .9rem;
}

